/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  @include u-flex($ai: center);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2rem;
  z-index: 99;
  

  @include u-mqMax {
    display: block;
  }

  .is_login_user & {
    top: $wpAdminBarPC;

    @include u-mqMax {
      top: $wpAdminBarSP;
    }
  }

  &__inner {
    @include u-contentCenter;
    padding: 1.8rem 4rem;
    border-radius: 4rem;
    background: $white;
    @include u-flex($ai: center, $jc: space-between);
    filter: drop-shadow(0px 5px 20px rgba($black,0.05));

    @include u-mqMax {
      padding: 1.2rem 7rem 1.2rem 2.4rem;
      height: 6rem;
    }
  }

  &__innerSp {
    display: none;

    @include u-mqMax {
      display: block;
      width: 100%;
      height: 100vh;
      background: $white;
      margin-left: 1.2rem;
      border-top-left-radius: 6rem;
      z-index: 3;
      position: absolute;
      top: 0;
      right: -100%;
      transition: right 0.3s ease-in-out;
      
      &.is-open {
        right: 0;
      }
    }
  }

  &__logo {
    width: 18.3rem;
    z-index: 1;

    @include u-mqMax {
      width: 13.7rem;
    }
  }

  &__logoLink {
    display: block;
  }

  &__logoImg {
    @include u-trsPC;
    width: 100%;
  }

  &__content {
    @include u-flex($ai: center);
  }

  &__gNav {
    @include u-mqMax {
      display: none;
    }
  }

  &__gNavSp {
    display: none; 

    @include u-mqMax {
      display: block;
      padding: 10.8rem 4rem 4.9rem; 
      max-width: 37.5rem;
      margin: 0 auto
    }
  }

  &__gNavPageList {
    @include u-flex;

    @include u-mqMax {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;
    }
  }

  &__gNavItem {
    position: relative;

    &:not(:first-child) {
      margin-left: 2rem;
    }

    @include u-mqMax {
      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }

  &__gNavTitle {
    font-size: 2.8rem;
    font-weight: 700;
    color: $blue01;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  &__gNavLink {
    @include u-trsPC;
    @include u-flex($ai: center);
    position: relative;
    color: $textColor;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.42;

    @include u-hover {
      color: $keyColor01;
    }

    @include u-mqMax {
      font-size: 1.8rem;
      font-weight: 400;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6253 5.5V13.625C15.6253 13.7908 15.5595 13.9497 15.4423 14.0669C15.3251 14.1842 15.1661 14.25 15.0003 14.25C14.8346 14.25 14.6756 14.1842 14.5584 14.0669C14.4412 13.9497 14.3753 13.7908 14.3753 13.625V7.00859L5.44254 15.9422C5.32526 16.0595 5.1662 16.1253 5.00035 16.1253C4.8345 16.1253 4.67544 16.0595 4.55816 15.9422C4.44088 15.8249 4.375 15.6659 4.375 15.5C4.375 15.3341 4.44088 15.1751 4.55816 15.0578L13.4918 6.125H6.87535C6.70959 6.125 6.55062 6.05915 6.43341 5.94194C6.3162 5.82473 6.25035 5.66576 6.25035 5.5C6.25035 5.33424 6.3162 5.17527 6.43341 5.05806C6.55062 4.94085 6.70959 4.875 6.87535 4.875H15.0003C15.1661 4.875 15.3251 4.94085 15.4423 5.05806C15.5595 5.17527 15.6253 5.33424 15.6253 5.5Z' fill='%230F1931'/%3E%3C/svg%3E%0A")center/ cover no-repeat;
      }
    }

    &.active {
      color: $blue01 !important;
    }
  }

  &__gNavLowerList {
    @include u-flex($fd: column, $ai: center);
    gap: 1rem;
    margin-top: 3.6rem;
  }

  &__gNavSpWrap {
    position: relative;
    top: -8.2rem;
    @include u-flex($jc: flex-end);
    // margin-right: 1rem;
    position: absolute;
    top: 3.2rem;
    right: 4rem;
    gap: 1rem;
    z-index: 999;
  }

  // bnr
  &__bnr {
    margin-left: 1.6rem;
    @include u-flex($ai: center);
    font-size: 1.4rem;
    font-weight: 700;
    gap: 1.6rem;

    @include u-mqMax {
      margin-left: 0;
      gap: 0;
    }
  }

  &__bnr01 {
    background: $blue01;
    border: .2rem solid $blue01;
    color: $white;
    border-radius: .8rem;
    padding: 1.2rem 2rem;
    @include u-trsPC;
    @include u-hoverOp();
    position: relative;

    @include u-mqMax {
      width: 3.6rem;
      height: 3.6rem;
      padding: 0;
      background-image: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 0.5H1C0.801088 0.5 0.610322 0.579018 0.46967 0.71967C0.329018 0.860322 0.25 1.05109 0.25 1.25V14C0.25 14.3978 0.408035 14.7794 0.68934 15.0607C0.970644 15.342 1.35218 15.5 1.75 15.5H18.25C18.6478 15.5 19.0294 15.342 19.3107 15.0607C19.592 14.7794 19.75 14.3978 19.75 14V1.25C19.75 1.05109 19.671 0.860322 19.5303 0.71967C19.3897 0.579018 19.1989 0.5 19 0.5ZM17.0716 2L10 8.48281L2.92844 2H17.0716ZM18.25 14H1.75V2.95531L9.49281 10.0531C9.63118 10.1801 9.81217 10.2506 10 10.2506C10.1878 10.2506 10.3688 10.1801 10.5072 10.0531L18.25 2.95531V14Z" fill="white"/></svg>');
      background-size: 2rem auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__bnr02 {
    background: $white;
    border: .2rem solid $blue01;
    color: $blue01;
    border-radius: .8rem;
    padding: 1.2rem 2rem;
    @include u-trsPC;

    &:hover {
      background: $blue01;
      color: $white;
    }
  }
}

.no-scroll {
  overflow: hidden !important;
}
.no-scroll {
  overflow: hidden !important;
}

.siteHeader {
  &__innerSp {
    display: block !important;
    right: -100% !important;
    transition: right 0.3s ease-in-out !important;

    &.is-open {
      right: 0 !important;
    }
  }
}

.siteHeader__gNavLink.active {
    color: #2A4BBC !important;
}
