@mixin u-contentCenter($widthPC: $contentCenter, $widthSP: $contentCenter) {
  width: 100%;
  max-width: $widthPC;
  margin-left: auto;
  margin-right: auto;

  @include u-mqMax($maxW: $windowSP) {
    width: 100%;
    max-width: calc(100% - 3.2rem);
  }
}
