{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": true
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/html/wtmpp/wp-content/themes/wp-template/",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "_assets/js/script.js",
          "mtimeMs": 1594889785509.2893,
          "ctimeMs": 1594889785509.2893,
          "date": "2020-07-16T08:56:27.718Z"
        },
        {
          "file": "_inc/func/func__admin.php",
          "mtimeMs": 1594873502356.171,
          "ctimeMs": 1594873502356.171,
          "date": "2020-07-16T04:25:04.307Z"
        },
        {
          "file": "404.php",
          "mtimeMs": 1591864120494.6208,
          "ctimeMs": 1591864120494.6208,
          "date": "2020-06-11T09:06:01.343Z"
        },
        {
          "file": "archive.php",
          "mtimeMs": 1591849650949.286,
          "ctimeMs": 1591849650949.286,
          "date": "2020-06-11T09:06:02.321Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1592911341113.8306,
          "ctimeMs": 1592911341113.8306,
          "date": "2020-06-23T11:22:22.323Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1591850100263.1382,
          "ctimeMs": 1591850100263.1382,
          "date": "2020-06-11T09:06:04.849Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1594719568080.238,
          "ctimeMs": 1594719568080.238,
          "date": "2020-07-14T09:39:36.943Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1591850088366.1863,
          "ctimeMs": 1591850088366.1863,
          "date": "2020-06-11T09:06:06.498Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1591861782076.617,
          "ctimeMs": 1591861782076.617,
          "date": "2020-06-11T09:06:07.313Z"
        },
        {
          "file": "screenshot.png",
          "mtimeMs": 1481427299000,
          "ctimeMs": 1555396123191.1,
          "date": "2020-06-11T09:06:09.021Z"
        },
        {
          "file": "search.php",
          "mtimeMs": 1593060189315.9246,
          "ctimeMs": 1593060189315.9246,
          "date": "2020-06-25T04:43:10.323Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1591861914434.337,
          "ctimeMs": 1591861914434.337,
          "date": "2020-06-11T09:06:10.818Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1591850159554.2097,
          "ctimeMs": 1591850159554.2097,
          "date": "2020-06-11T09:06:11.789Z"
        },
        {
          "file": "taxonomy.php",
          "mtimeMs": 1591861840019.3455,
          "ctimeMs": 1591861840019.3455,
          "date": "2020-06-11T09:06:12.719Z"
        },
        {
          "file": "_assets/css/style.css",
          "mtimeMs": 1594896883971.3467,
          "ctimeMs": 1594896883971.3467,
          "date": "2020-07-16T10:54:54.927Z"
        },
        {
          "file": "_assets/css/style.css.map",
          "mtimeMs": 1594870184032.5933,
          "ctimeMs": 1594870184032.5933,
          "date": "2020-07-16T04:07:44.545Z"
        },
        {
          "file": "_assets/images/_etc/favicon.ico",
          "mtimeMs": 1376984896000,
          "ctimeMs": 1591860821026.2666,
          "date": "2020-06-11T09:06:17.144Z"
        },
        {
          "file": "_assets/images/_etc/loginPage_bg.jpg",
          "mtimeMs": 1555401027743.2815,
          "ctimeMs": 1555401069360.1243,
          "date": "2020-06-11T09:06:19.701Z"
        },
        {
          "file": "_assets/images/_etc/noimage.jpg",
          "mtimeMs": 1541578966132.506,
          "ctimeMs": 1555396122701.193,
          "date": "2020-06-11T09:06:20.931Z"
        },
        {
          "file": "_assets/images/_etc/ogp.jpg",
          "mtimeMs": 1591861014201.7632,
          "ctimeMs": 1591861026077.013,
          "date": "2020-06-11T09:06:22.172Z"
        },
        {
          "file": "_assets/images/topPage/topPageFvSec_slide-01.jpg",
          "mtimeMs": 1510656049000,
          "ctimeMs": 1555403961627.1885,
          "date": "2020-06-11T09:06:25.675Z"
        },
        {
          "file": "_assets/images/topPage/topPageFvSec_slide-02.jpg",
          "mtimeMs": 1510656050000,
          "ctimeMs": 1555403963221.5684,
          "date": "2020-06-11T09:06:30.045Z"
        },
        {
          "file": "_assets/images/topPage/topPageFvSec_slide-03.jpg",
          "mtimeMs": 1510656051000,
          "ctimeMs": 1555403964954.5562,
          "date": "2020-06-11T09:06:35.154Z"
        },
        {
          "file": "_assets/images/topPage/topPageFvSec_slide-04.jpg",
          "mtimeMs": 1510656052000,
          "ctimeMs": 1555403966228.7297,
          "date": "2020-06-11T09:06:37.514Z"
        },
        {
          "file": "_assets/js/script-es6.js",
          "mtimeMs": 1594889785161.418,
          "ctimeMs": 1594889785161.418,
          "date": "2020-07-16T08:56:26.765Z"
        },
        {
          "file": "_assets/js/script.js.map",
          "mtimeMs": 1593676527151.3208,
          "ctimeMs": 1593676527151.3208,
          "date": "2020-07-14T08:03:03.237Z"
        },
        {
          "file": "_assets/js/lib/ofi.min.js",
          "mtimeMs": 1511488535000,
          "ctimeMs": 1555396122716.4895,
          "date": "2020-06-11T09:06:42.831Z"
        },
        {
          "file": "_assets/js/lib/cookie/cookie.js",
          "mtimeMs": 1594886296985.8696,
          "ctimeMs": 1594886296985.8696,
          "date": "2020-07-16T07:58:19.387Z"
        },
        {
          "file": "_assets/js/lib/swiper/swiper.css",
          "mtimeMs": 1542658600000,
          "ctimeMs": 1555396122711.701,
          "date": "2020-06-11T09:06:45.663Z"
        },
        {
          "file": "_assets/js/lib/swiper/swiper.js",
          "mtimeMs": 1542658600000,
          "ctimeMs": 1555396122710.3867,
          "date": "2020-06-11T09:06:47.305Z"
        },
        {
          "file": "_assets/js/lib/wow/wow.js",
          "mtimeMs": 1528784575000,
          "ctimeMs": 1555396122715.2522,
          "date": "2020-06-11T09:06:48.690Z"
        },
        {
          "file": "_inc/meta.php",
          "mtimeMs": 1591861600147.405,
          "ctimeMs": 1591861600147.405,
          "date": "2020-06-11T09:06:49.621Z"
        },
        {
          "file": "_inc/ua.class.php",
          "mtimeMs": 1538117047714.3691,
          "ctimeMs": 1555396123116.5447,
          "date": "2020-06-11T09:06:50.536Z"
        },
        {
          "file": "_inc/archive/archive__news.php",
          "mtimeMs": 1593060169875.4949,
          "ctimeMs": 1593060169875.4949,
          "date": "2020-07-02T07:18:37.410Z"
        },
        {
          "file": "_inc/block/bread.php",
          "mtimeMs": 1591864209508.4539,
          "ctimeMs": 1591864209508.4539,
          "date": "2020-06-11T09:06:52.717Z"
        },
        {
          "file": "_inc/block/pager.php",
          "mtimeMs": 1591856128561.717,
          "ctimeMs": 1591856128561.717,
          "date": "2020-06-11T09:06:53.692Z"
        },
        {
          "file": "_inc/func/func__body_class.php",
          "mtimeMs": 1549432184395.2388,
          "ctimeMs": 1555396123167.627,
          "date": "2020-06-11T09:06:55.820Z"
        },
        {
          "file": "_inc/func/func__calendar.php",
          "mtimeMs": 1541649160000,
          "ctimeMs": 1555396123166.9167,
          "date": "2020-06-11T09:06:56.899Z"
        },
        {
          "file": "_inc/func/func__cpt.php",
          "mtimeMs": 1591859413565.8896,
          "ctimeMs": 1591859413565.8896,
          "date": "2020-06-11T09:06:57.877Z"
        },
        {
          "file": "_inc/func/func__temp.php",
          "mtimeMs": 1593676832787.511,
          "ctimeMs": 1593676832787.511,
          "date": "2020-07-02T08:00:35.514Z"
        },
        {
          "file": "_inc/page/temp/temp__pageContact.php",
          "mtimeMs": 1591864145941.0261,
          "ctimeMs": 1591864145941.0261,
          "date": "2020-06-11T09:07:03.243Z"
        },
        {
          "file": "_inc/page/temp/temp__pageLevel02.php",
          "mtimeMs": 1594871646302.3306,
          "ctimeMs": 1594871646302.3306,
          "date": "2020-07-16T03:54:09.160Z"
        },
        {
          "file": "_inc/page/temp/temp__pageLevel03.php",
          "mtimeMs": 1594871651601.233,
          "ctimeMs": 1594871651601.233,
          "date": "2020-07-16T03:54:14.440Z"
        },
        {
          "file": "_inc/page/temp/temp__pageLevel04.php",
          "mtimeMs": 1594872457251.2966,
          "ctimeMs": 1594872457251.2966,
          "date": "2020-07-16T04:07:38.485Z"
        },
        {
          "file": "_inc/single/single__news.php",
          "mtimeMs": 1594871559958.1216,
          "ctimeMs": 1594871559958.1216,
          "date": "2020-07-16T03:52:42.835Z"
        },
        {
          "file": "_inc/tax/tax__news.php",
          "mtimeMs": 1591856570877.1335,
          "ctimeMs": 1591856570877.1335,
          "date": "2020-06-11T09:07:08.340Z"
        },
        {
          "file": "front-page.php",
          "mtimeMs": 1594871615694.7954,
          "ctimeMs": 1594871615694.7954,
          "date": "2020-07-16T03:53:38.030Z"
        },
        {
          "file": "_assets/images/_etc/custom-icon.png",
          "mtimeMs": 1591861271163.8086,
          "ctimeMs": 1591861279181.375,
          "date": "2020-06-11T09:06:16.104Z"
        },
        {
          "file": "_assets/images/_etc/favicon.png",
          "mtimeMs": 1591861131882.5269,
          "ctimeMs": 1591861152209.2212,
          "date": "2020-06-11T09:06:18.222Z"
        },
        {
          "file": "_assets/images/common/icon-contact.png",
          "mtimeMs": 1592905018376.1724,
          "ctimeMs": 1592905032046.4595,
          "date": "2020-06-23T09:38:08.460Z"
        },
        {
          "file": "_assets/js/lib/fancybox/jquery.fancybox.min.css",
          "mtimeMs": 1555304538863.2969,
          "ctimeMs": 1593052906153.6091,
          "date": "2020-06-25T02:42:38.973Z"
        },
        {
          "file": "_assets/js/lib/fancybox/jquery.fancybox.min.js",
          "mtimeMs": 1555304538864.0276,
          "ctimeMs": 1593052906155.5977,
          "date": "2020-06-25T02:42:40.440Z"
        },
        {
          "file": "_assets/images/common/sample.jpg",
          "mtimeMs": 1593056897030.1526,
          "ctimeMs": 1593056897395.0151,
          "date": "2020-06-25T03:48:20.182Z"
        },
        {
          "file": "_inc/block/flexibleContent.php",
          "mtimeMs": 1594896333538.0002,
          "ctimeMs": 1594896333538.0002,
          "date": "2020-07-16T10:45:36.879Z"
        },
        {
          "file": "_inc/block/wysiwygEditor.php",
          "mtimeMs": 1594893411933.9575,
          "ctimeMs": 1594893411933.9575,
          "date": "2020-07-16T09:56:53.068Z"
        },
        {
          "file": "_inc/block/parts-wysiwygEditor.php",
          "mtimeMs": 1594894726035.7515,
          "ctimeMs": 1594894726035.7515,
          "date": "2020-07-16T10:18:47.448Z"
        },
        {
          "file": "_inc/block/parts-space.php",
          "mtimeMs": 1594894739910.727,
          "ctimeMs": 1594894739910.727,
          "date": "2020-07-16T10:19:01.035Z"
        },
        {
          "file": "_inc/block/parts-gridList.php",
          "mtimeMs": 1594894771363.4885,
          "ctimeMs": 1594894771363.4885,
          "date": "2020-07-16T10:19:32.535Z"
        },
        {
          "file": "_inc/block/parts-thumbList.php",
          "mtimeMs": 1594894802111.6375,
          "ctimeMs": 1594894802111.6375,
          "date": "2020-07-16T10:20:03.238Z"
        },
        {
          "file": "_inc/block/parts-card.php",
          "mtimeMs": 1594894831332.0576,
          "ctimeMs": 1594894831332.0576,
          "date": "2020-07-16T10:20:32.679Z"
        },
        {
          "file": "_inc/block/parts-postList.php",
          "mtimeMs": 1594894856127.936,
          "ctimeMs": 1594894856127.936,
          "date": "2020-07-16T10:20:57.266Z"
        },
        {
          "file": "_inc/block/parts-accordion.php",
          "mtimeMs": 1594896282150.8135,
          "ctimeMs": 1594896282150.8135,
          "date": "2020-07-16T10:44:43.498Z"
        },
        {
          "file": "_inc/block/parts-tab.php",
          "mtimeMs": 1594895972445.2058,
          "ctimeMs": 1594895972445.2058,
          "date": "2020-07-16T10:39:33.692Z"
        },
        {
          "file": "_inc/block/parts-youtube.php",
          "mtimeMs": 1594894948110.3435,
          "ctimeMs": 1594894948110.3435,
          "date": "2020-07-16T10:22:29.228Z"
        },
        {
          "file": "_inc/block/lowerPageFv.php",
          "mtimeMs": 1594895129173.9944,
          "ctimeMs": 1594895129173.9944,
          "date": "2020-07-16T10:25:30.329Z"
        },
        {
          "file": "_inc/block/parts-bnrA.php",
          "mtimeMs": 1594895184671.9321,
          "ctimeMs": 1594895184671.9321,
          "date": "2020-07-16T10:26:25.894Z"
        },
        {
          "file": "_inc/block/parts-bnrB.php",
          "mtimeMs": 1594895206828.436,
          "ctimeMs": 1594895206828.436,
          "date": "2020-07-16T10:26:48.152Z"
        },
        {
          "file": "_inc/block/parts-bnrC.php",
          "mtimeMs": 1594895214791.6006,
          "ctimeMs": 1594895214791.6006,
          "date": "2020-07-16T10:26:56.167Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": false,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "cover 99.5%"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": true,
          "@babel/plugin-proposal-decorators": {
            "enable": true,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": true,
          "@babel/plugin-proposal-function-sent": true,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": true,
          "@babel/plugin-proposal-numeric-separator": true,
          "@babel/plugin-proposal-optional-chaining": true,
          "@babel/plugin-proposal-private-methods": true,
          "@babel/plugin-proposal-throw-expressions": true
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": true,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": true,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_assets/js/script-es6.js",
        "config": {
          "customOutput": "_assets/js/script.js",
          "autoCompile": true
        }
      },
      {
        "file": "_assets/scss/style.scss",
        "config": {
          "sourceMap": false
        }
      }
    ]
  }
}
